* {
  box-sizing: border-box;
}

.wrapper {
  background-color: hotpink;
}

.header{
  height: 50px;
  width: 100vw;
  background-color: greenyellow;
  &__account{
    height: 40px;
    width: 100px;
    background-color:orangered;
    margin: 5px 5px;
    float: right;
    &__icon{
      position: absolute;
    }
    &__name{
      margin-left: 20px;
    }
  }
  &__menu{
  }
}

.submit-btn{
  width: 40px;
  height: 40px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: skyblue;
  color: black;
}

.main-box{
  height: 1000px;
  width: 100vw;
}

.footer{
  height: 50px;
  width: 100%;
  background-color:#3e3e3e;
  float: left;
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}